<div class="homepage container">
  <!-- <div class="homepage__header">Home Page Header</div>
  <div class="homepage__body">Homepage body</div> -->
  <div class="container">

  </div>
  <h2 class="p-2 mt-3">Get free vaccine availability alerts on your phone. Subscribe below </h2>
  <p class="p-2 text-muted"> Non profit, if this helped you please considering donating.
  <p class="homepage__alerts-info"></p>
  <div class="homepage__container">
    <app-vaccine-wizard (done) ="wizardDone()"></app-vaccine-wizard>
  </div>
</div>


