
<div class="homepage" id="home"  (scroll)="onScroll($event)" [@enterAnimationLeft] #homepage>
  <app-header></app-header>

    <div class="homepage__info-wrapper info-wrapper-small" #infoWrapper>
    <div class="homepage__layer">
      <div class="flex homepage__info-wrapper__head">
        <div class="homepage__info-wrapper__head__icon">
          <img src="../../assets/icons/knight.svg" alt="" />
        </div>
        <div class="homepage__info-wrapper__head__title">
          <h1 class="homepage__info-wrapper__head__title__text">Covid Knight</h1>
          <p class="homepage__info-wrapper__head__title__slogan">Lets get vaccinated (:</p>
        </div>

      </div>
      <div class="body">
        <div class="body__text mt-2">
          Get free vaccine availability alerts on your WhatsApp, <b class="white">18+ & 45+ </b>.
        </div>
        <p class="body__non-profit body__text__muted p-2  mt-1"> We will send personalized vaccine alerts based on
          centers/hospitals on <span class="white">WhatsApp</span> </p>
        <a href="#get-started"><button class="btn btn-lg pt-2 body__action-btn" >
            <b>Select your Area Now</b>
          </button></a>
      </div>
      <div class="last-sync">
       <app-last-sync></app-last-sync>
      </div>
      <div class="homepage__info-wrapper__credits" id="get-started">
        <!-- <app-footer></app-footer> -->
      </div>
    </div>

  </div>


  <div class="homepage__container" >
    <div class="homepage__container__wizard">
      <h2 class="text-center homepage__container__wizard__heading" > <i  class="ri-map-pin-user-fill homepage__container__heading__icon"></i>Select your center</h2>
      <app-vaccine-wizard (done)="wizardDone()"></app-vaccine-wizard>
    </div>
    <div class="homepage__container__how-to">
      <app-vaccine-how-to></app-vaccine-how-to>
    </div>
    <div class="homepage__container__faq" id="faq">
      <app-vaccine-faq></app-vaccine-faq>
    </div>
    <div class="homepage__container__contact">
      <app-vaccine-contact></app-vaccine-contact>
    </div>
  </div>

  <div class="homepage__credits" id="footer">
    <app-footer></app-footer>
  </div>
  <div class="fab" *ngIf="showScrollToTop" (click)="scrollToTop()">
    <div class="fab--button"><i class="ri-arrow-up-line"></i></div>
  </div>
</div>
