<app-header-back headerText="Donate"></app-header-back>
<div class="donate" [@enterAnimationRight]>
<div class="donate__head">
  <h2 class="donate__head--title">Donate <i class="ri-hand-heart-line"></i></h2>
  <p class="donate__head--slogan">--Help us survive--</p>
</div>
<div class="donate__body mt-5">
  <div class="donate__body__image">
    <img src="../../../../assets/img/developer.svg" class="donate__body__image--img" alt="">
  </div>
  <div class="donate__body__title mt-4">
    <p class="donate__body__title--text">
      We are individual developers trying to bring a change, a small donation can help us with the servers, messaging and maintenance cost. Please help us with what you can.
    </p>
  </div>
  <div class="donate__body__button">
    <a href="https://rzp.io/l/UUbrXGrnLj" target="_blank"><button class="app-btn donate__body__button--btn"><i class="ri-hand-heart-fill  donate__body__button--icon"></i>Donate Now</button></a>
  </div>
</div>
</div>
