<div class="privacy-policy-main" [@enterAnimationRight]>

  <app-header-back headerText="Terms And Consitions"></app-header-back>

  <div class="container">
    <div class="pap">
      <section class="pap">
        <!-- <h2 class="pap_header">We value privacy</h2> -->
        <p class="pap_desc">We are not the owner of vaccine data, this is provided by the government's Cowin API, although the data is synced real-time from Cowin, there may be delayed by few minutes and we are not responsible for any delays or misinformation. Covid Knight is open-source.
          <a routerLink="/credits" routerLinkActive="router-link-active">Github</a></p>
      </section>
    </div>
  </div>
