<div class="privacy-policy-main" [@enterAnimationRight]>

  <app-header-back headerText="Terms And Conditions"></app-header-back>

  <div class="container">
    <div class="pap">
      <section class="pap">
        <!-- <h2 class="pap_header">We value privacy</h2> -->
        <p class="pap_desc">We do not own any of the vaccine data, this is solely provided by the government's Cowin API.</p>
        <p class="p-3"> Although the data is synced real-time from Cowin, there may be a delay of a few minutes and we are not responsible for any delays or misinformation. <br> <br> Covid Knight is open-source.
          <a  target="_blank" href="https://github.com/india-covid/covid-knight" routerLinkActive="router-link-active">Github</a></p>
      </section>
    </div>
  </div>
