<div class="privacy-policy-main" [@enterAnimationRight]>

  <app-header-back headerText="Privacy and Policy"></app-header-back>

  <div class="container">
    <div class="pap">
      <section class="pap">
        <h2 class="pap_header">We value privacy</h2>
        <p class="pap_desc">We do not collect any information other than WhatsApp number. Phone numbers are
          automatically deleted after the notification subscriptions expire. We do not run any kind of ads or track user's data.
          <a routerLink="/credits" routerLinkActive="router-link-active">Credits</a></p>

      </section>
    </div>
  </div>
