
<div class="header">
  <div class="header__content" [ngClass]="[activeMenuItem]" >
    <div class="header__item" (click)="changeMenu(MENUITEMS.HOME)"  [class.header__item__active]="activeMenuItem ==='home'" >
      <i class="ri-home-3-fill header__item__icon"></i>
      <p class="header__item__label" >Home</p>
    </div>
    <div class="header__item" (click)="changeMenu(MENUITEMS.CONTACT)" [class.header__item__active]="activeMenuItem ==='contact'">
      <i class="ri-contacts-fill header__item__icon"></i>
      <p class="header__item__label">Contact</p>
    </div>
    <div class="header__item"  (click)="changeMenu(MENUITEMS.DONATE)"  [class.header__item__active]="activeMenuItem ==='donate'">
      <i class="ri-hand-heart-fill header__item__icon"></i>
      <p class="header__item__label">Donate</p>
    </div>
  </div>
</div>
