<nav class="navbar">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#">
        <h4>Covid<span>.info</span></h4>
      </a>
    </div>

    <div class="navbar-menu" #navbarMenu id="open-navbar1">
      <ul class="navbar-nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li ><a href="#contact">Contact Us</a></li>
        <li><a href="#">Subscribe</a></li>
       </ul>
    </div>
  </div>
</nav>
