.nav-icon {
  padding: 3px;
  position: relative;
  bottom: -3px;
}

.navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar-brand i {
  color: blue;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    .nav-item {
      border-bottom: 1px solid rgb(47, 151, 221, 0.2);
    }
  }
}
