
<div class="faq-main"  [@enterAnimationRight]>

<app-header-back headerText="FAQ"></app-header-back>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">FAQs</h1>
    <p class="lead">Frequently Asked Questions.</p>
  </div>
</div>

<br />
<div class="container">
  <div class="faqs">
    <section class="faq" *ngFor="let faq of faqs; let i=index" (click)="onQuestionClick(i)">
      <h2 [ngClass]="{'faq_question': true, 'to-bottom': selectedRowIndex === i, 'to-top': selectedRowIndex !== i}">{{ faq.question }}</h2>
      <p class="faq_answer" *ngIf="selectedRowIndex === i" [innerHTML]="faq.answer"></p>
    </section>
  </div>
</div>
</div>

