<app-header-back headerText="Phone Verification"></app-header-back>
<div class="subscribe">
  <!-- <div class="subscribe__header p-3">

  </div> -->
  <div class="subscribe__body mt-4">
    <div class="subscribe__image">
      <img src="../../../assets/img/otp.png" alt="">
    </div>
    <div class="subscribe__number">
      <h2 class="text-center subscribe__number__text">OTP sent to: {{ wizardResult.phoneNumber }}</h2>
    </div>
    <div class="subscribe__timer">
      <h3 class="text-center subscribe__timer__text">{{ (wizardResult.minLeft || 0 )| number:"2.0" }}: {{ (wizardResult.secLeft || 0) |
        number:"2.0"}}</h3>
    </div>

    <div class="subscribe__otp d-flex mt-5">
      <ng-otp-input #ngOtpInput class="mx-auto" (onInputChange)="onOtpChange($event)" [config]="{length:otpLength}"></ng-otp-input>
    </div>

    <div class="subscribe__invalid-otp mt-4" *ngIf="isOtpWrong">
      <p>Invalid OTP !!</p>
    </div>


    <div class="subscribe__confirm d-flex mt-5">
      <button [disabled]="!isOtpLengthValid" (click)="signUpUser()" class="app-btn mx-auto"> Confirm </button>
    </div>
  </div>
</div>
