<div class="app" #appContainer  (window:resize)="onResize($event)">

  <div class="app__empty-wrapper">
    <div class="empty-space">
      <div class="empty-space__image-wrapper hompage">
        <div class="empty-space__info-wrapper info-wrapper-large">
          <div class="empty-space__layer">
            <div class="flex empty-space__info-wrapper__head">
              <div class="empty-space__info-wrapper__head__icon">
                <img src="../../../assets/icons/knight.svg" alt="" />
              </div>
              <div class="empty-space__info-wrapper__head__title">
                <p class="empty-space__info-wrapper__head__title__text">Covid Knight</p>
                <p class="empty-space__info-wrapper__head__title__slogan">Lets get vaccinated (:</p>
              </div>

            </div>
            <div class="body">
              <div class="body__text mt-2">
                Get free vaccine availability alerts on your WhatsApp, <b class="white">18+ & 45+ </b>.
              </div>
              <p class="body__non-profit body__text__muted p-2  mt-1"> We will send personalized vaccine alerts (availability / unavailability) based on
                centers/hospitals on <i class="white">WhatsApp</i>
              </p>
              <button class="btn btn-lg pt-2 body__action-btn">
                <b>Select your Area Now <i class="ri-arrow-right-fill empty-space__icon"></i></b>
              </button>
            </div>
            <div class="last-sync">
                <app-last-sync></app-last-sync>
              </div>
              <div class="empty-space__credits">
                <app-footer></app-footer>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app__app-content">
    <div class="app__app-content__main">
      <div class="app__app-content__main--no-connection" *ngIf="!conService.isOnline">
        <div class="app__app-content__main--no-connection__icon-container">
          <i class="ri-wifi-off-line app__app-content__main--no-connection__icon-container--icon"></i>
          <p class="app__app-content__main--no-connection__icon-container--text">Check Your Network</p>
          <button class="btn btn-warning app__app-content__main--no-connection__icon-container--btn" (click)="tryAgain()">Try again</button>
        </div>
      </div>
      <router-outlet></router-outlet>
      <ngx-spinner [fullScreen]="false"></ngx-spinner>
    </div>
  </div>
</div>
