$action-button-color: var(--app-color-light);
$action-button-bg-color: var(--app-color-dark-tint);
$stage1-bg-color: var(--app-color-primary-tint);
$head-text-color: var(--app-color-light);
$text-color: #d9d9d9; // var(--app-color-light-tint);
$text-muted-color: #d9d9d9; // var(--app-color-light-tint);

.app {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: auto;

  &__empty-wrapper {
    //border:solid  pink;
    width: 50%;
    padding: 0;
    background-color: rgb(13, 108, 185);
    overflow: auto;
    height: 100%;
  }
  &__app-content {
    // //border:solid blue;
    background-color: rgb(13, 108, 185);
    height: 100%;
    overflow: hidden;
    width: 50%;
    &__main {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      background-color: white;
      height: 100%;
      overflow-x: hidden;
    }
  }
}

.empty-space {
  background-color: var(--app-color-primary-tint);
  position: relative;
  height: 100%;
  overflow: auto;
  //border:solid yellow;
  &__layer {
    padding-top: 30px;
    height: 100vh;
    // min-height:700px;
    position: relative;
    // padding-bottom:50px;
    // border:solid blue;
  }
  &__image-wrapper {
    height: 100%;
  }
  &__info-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    letter-spacing: 1.5px;
    width: 100%;
    // min-height: 100vh;
    text-align: center;
    align-items: center;
    min-height: 100%;
    // border:solid red;
    &__head {
      align-items: center;
      padding: 0;
      max-width: 460px;
      margin: auto;
      display: flex;
      justify-content: center;
      font-weight: bold;
      color: $head-text-color;
      // //border:solid red;
      &__icon {
        // //border:solid green;
        height: 190px;
        width: 190px;
        position: relative;
        padding-left: 5px;
        top: -3px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      &__title {
        margin-left: 10px;
        // //border:solid blue;
        &__text {
          font-size: 1.6rem;
          padding: 0;
          margin: 0;
          white-space: nowrap;
          padding-right: 4px;
          text-overflow: ellipse;
        }
        &__slogan {
          // //border:solid yellow;
          padding: 0;
          margin: 0;
          font-size: 15px;
        }
      }
    }
    .body {
      font-size: 20px;
      padding: 20px;
      color: $text-color;
      margin-top: 20px;
      &__non-profit {
        font-size: 1.02rem;
        color: $text-muted-color;
      }
      &__action-btn {
        background-color: $action-button-bg-color;
        color: $action-button-color;
        border-radius: 2rem;
      }

      &__text {
        font-weight: 400;
        color: $text-color;
        p {
          padding: 0;
          margin: 0;
        }
      }
    }
    .last-sync {
      color: $text-color;
      padding: 10px;
      margin-top: 30px;
      height: 100px;
      //border:solid red;
    }
  }
  &__icon {
    position: relative;
    bottom: -4px;
  }

  &__credits {
    // position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    position: absolute; 
    bottom: 20px; 
    //border:solid green;
  }
}

@media screen and (max-width: 810px) {
  .app__empty-wrapper {
    width: 45%;
  }
  .app__app-content {
    width: 55%;
  }
}

@media screen and (min-width: 740px) {
  .app__app-content {
    &__main {
      max-width: 450px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 740px) {
  .app__empty-wrapper {
    display: none;
  }
  .app__app-content {
    width: 100%;
    &__main {
      width: 100%;
    }
  }
}
