<div class="privacy-policy-main" [@enterAnimationRight]>
  <app-header-back headerText="Credits"></app-header-back>
  <hr>
  <div class="container">

    <div class="credits">
      <section class="credits">
        <div class="credits__list credit-list" class="d-flex flex-column">
          <div class="credit_list-item d-flex" class="mt-4 justify-content-center" *ngFor="let credit of credits">
            <div class="credit-list__name">
              <h2 class="text-center"> <a  [href]="credit.link" target="__blank">  {{ credit.name }}  </a></h2>
              <span class="d-block text-center">  {{ credit.role }}  </span>
            </div>
            <div class="credit-list__role">
          </div>
          </div>
        </div>
      </section>
    </div>
    <hr>
    <div class="donate mt-3">
      <div class="donate-text">
        We are individual developers trying to bring a change, a small donation can help us with the servers, messaging and maintenance cost.
      </div>
      <div class="donate-btn mt-3">
        <a [href]="paymentUrl" target="_blank">
          <button class="app-btn-wa"><i class=" ri-hand-heart-fill donate-btn--icon"></i> Donate</button>
        </a>
      </div>
    </div>
  </div>
