<main class="auth-home" [@enterAnimationLeft]>
  <div class="auth-home__header">
    <div class="auth-home__user-info-wrapper">
      <!-- *ngIf="user?.phoneNumber" -->
      <div class="auth-home__user-info">
        <div class="auth-home__user-info__phone">
          <p class="text ml-0 font-weight-bold">Logged in as</p>
          <p class="phone">
            {{user?.phoneNumber}}
          </p>
        </div>
        <button class="add-btn btn btn-success" (click)="addToHomeScreen()" *ngIf="showButton">Add App to Home Screen</button>


        <div class="auth-home__user-info__logout">
          <ng-template #popTemplate>
            <button class="auth-home__user-info__logout__button btn btn-default" routerLink="/contact">
              <i class="ri-phone-line auth-home__user-info__logout__button--icon"></i>  Contact Us
            </button>
            <br>
            <button class="auth-home__user-info__logout__button btn btn-default" (click)="logout()">
              <i class="ri-logout-box-line auth-home__user-info__logout__button--icon"></i> Logout
            </button>
          </ng-template>
          <i type="button" class="ri-more-2-fill icon" [popover]="popTemplate"
            popoverTitle="Profile"
            [adaptivePosition]="false"
            [outsideClick]="true"
            placement="bottom right">
          </i>
        </div>
      </div>
    </div>
  </div>

  <div class="auth-home__log"


  ></div>

  <div class="auth-home__body"  #authHomeBody>

    <div class="auth-home__body__head">
      <div class="auth-home__body__head__main">
        <div class="auth-home__body__head__icon">
          <img src="../../assets/icons/knight.svg" alt="" />
        </div>
        <div class="auth-home__body__head__title">
          <p class="auth-home__body__head__title__text">Covid Knight</p>
          <p class="auth-home__body__head__title__slogan">Lets get vaccinated (:</p>
        </div>
      </div>
      <div class="auth-home__body__last-sync mt-2">
        <app-last-sync></app-last-sync>
      </div>
    </div>


    <div class="align-items-center auth-home__body__main">
      <div class="myCard col col-lg-12 col-md-12 myCard__card1" routerLink="/subscribed">
        <div class="myCard__content">
          <p class="myCard__content__text">Centers Subscribed</p>
          <p class="myCard__content__text-large">
            {{ subscribedCenters.length }}
          </p>
          <p class="myCard__content__text-small">See All</p>
          <div class="myCard__content__icon">
            <img src="../../../assets/icons/bell.svg" class="myCard__content__icon__image" alt="" />
          </div>
        </div>
      </div>
      <div class="myCard col col-lg-12 col-md-12 myCard__card2" [class.disabled]="MAXSUBSCRIPTION===subscribedCenters.length" (click)="addCenter()">
          <div class="myCard__content">
          <p class="myCard__content__text">Add More Centers</p>
          <p class="myCard__content__text-large">Add</p>
          <div class="myCard__content__icon">
            <img src="../../../assets/icons/add.svg" class="myCard__content__icon__image" alt="" />
          </div>
          <!-- <p class="myCard__content__text-small">{{subscribedCenters.length}} /{{MAXSUBSCRIPTION}}</p> -->
        </div>
      </div>
      <div class="myCard col col-lg-12 col-md-12 myCard__card3" [class.disabled]="MAXSUBSCRIPTION===subscribedCenters.length" routerLink="/add-subscription">
        <div class="myCard__content">
        <p class="myCard__content__text">Slots Availability</p>
        <p class="myCard__content__text-large">Check</p>
        <div class="myCard__content__icon">
          <img src="../../../assets/icons/availability.svg" class="myCard__content__icon__image" alt="" />
        </div>
        <!-- <p class="myCard__content__text-small">{{subscribedCenters.length}} /{{MAXSUBSCRIPTION}}</p> -->
      </div>
    </div>
    <div class="align-items-center">
      <div class="myCard col col-lg-12 col-md-12 myCard__card4"  (click)="share()">

        <div class="myCard__content">

          <p class="myCard__content__text-large">Share</p>
          <!-- <p class="myCard__content__text-small">See All</p> -->
          <div class="myCard__content__icon">
            <img src="../../../assets/icons/share.svg" class="myCard__content__icon__image" alt="" />
          </div>
        </div>

      </div>
      <div class="myCard col col-lg-12 col-md-12 myCard__card5" routerLink="/donate">
        <!-- <a href="https://rzp.io/l/vaccinewatcher" target="_blank"> -->
        <div class="myCard__content">
          <p class="myCard__content__text">Help us Survive</p>
          <p class="myCard__content__text-large">Donate</p>
          <!-- <p class="myCard__content__text-small">See All</p> -->
          <div class="myCard__content__icon">
            <img src="../../../assets/icons/heart.svg" class="myCard__content__icon__image" alt="" />
          </div>
        </div>
        <!-- </a> -->
      </div>
      <div class="myCard col col-lg-12 col-md-12 myCard__card5" routerLink="/faq">
        <!-- <a href="https://rzp.io/l/vaccinewatcher" target="_blank"> -->
        <div class="myCard__content">
          <p class="myCard__content__text-large">FAQ</p>
          <!-- <p class="myCard__content__text-small">See All</p> -->
          <div class="myCard__content__icon">
            <img src="../../../assets/icons/faq.svg" class="myCard__content__icon__image" alt="" />
          </div>
        </div>
        <!-- </a> -->
      </div>
    </div>
  </div>
  <div class="auth-home__body__credits">
    <app-footer></app-footer>
  </div>

  </div>

</main>
