<div class="footer">
  <a
    class="telegram-desktop"
    href="https://telegram.me/joinchat/LeyTBcvHD3gyMmI1"
    target="_blank"
  >
    Join our
    <img src="../../assets/icons/telegram.svg" class="footer--img" /> Telegram
    Community</a
  >
  <p>
    Made with love
    <i class="ri-heart-fill footer__icon" style="color: red"></i>.   Backend:
    <a href="https://rahul-shinde.com/" target="_blank" class="contributor">
      Rahul Shinde,</a
    >
    <span style="white-space: nowrap;"> Frontend:
    <a
      href="https://www.linkedin.com/in/ranjit-kumar-pandit-4686a9142/"
      target="_blank"
      class="contributor"
      >Ranjit</a
    >
  </span>
    &
    <a
    href="https://www.linkedin.com/in/chandan-warad-61ab7ba4/"
    target="_blank"
    class="contributor"
    >  Chandan</a
  >
    & Designer:
    <a
      href="https://www.linkedin.com/in/ranjit-kumar-pandit-4686a9142/"
      target="_blank"
      class="contributor"
      >Rishav</a
    >
  </p>
</div>
