<div class="footer">
  <a class="item telegram-desktop" href="https://telegram.me/joinchat/LeyTBcvHD3gyMmI1" rel="noopener" target="_blank">
    Join our
    <img src="../../assets/icons/telegram.svg" alt="" class="footer--img" /> Telegram
    Community</a>
  <p>
    Made with love
    <i class="ri-heart-fill footer__icon" style="color: red"></i> |
    <a class="item" routerLink="/credits" >Credits</a>
  </p>

  <span class="item terms-condition" routerLink="/terms-condition">Terms & Conditions</span>
  <span>  |  </span>
  <span class="item privacy-policy" routerLink="/privacy-policy">Privacy Policy</span>
</div>
