<div class="footer">
  <a class="telegram-desktop" href="https://telegram.me/joinchat/LeyTBcvHD3gyMmI1" rel="noopener" target="_blank">
    Join our
    <img src="../../assets/icons/telegram.svg" alt="" class="footer--img" /> Telegram
    Community</a>
  <p>
    Made with love
    <i class="ri-heart-fill footer__icon" style="color: red"></i> |
    <a routerLink="/credits" >Credits</a>
  </p>
  <!-- <p
    class="terms-conditions"
    >Terms & Conditions</p
  >
  <p
    class="privacy-policy"
    routerLink="/privacy-policy"
    >Privacy Policy</p
  > -->
  <!-- <span class="privacy-policy">Terms & Conditions</span>
  <span>  |  </span>  -->
  <span class="privacy-policy" routerLink="/privacy-policy">Privacy Policy</span>
</div>
