<div class="slots-wrapper" #slots>
  <app-header-back [headerText]="headerText" routeTo="/home"></app-header-back>
  <div class="slots-head header" #header>
    <div class="date-slider">
      <div class="slider">
        <div class="slider__item" *ngFor="let date of dateRange; let i = index" [class.slider__active]="i == activeDay">
          <button class="btn slider__item__btn" (click)="getSessionsForDay(i)">
            {{ date }}
          </button>
        </div>
      </div>
    </div>
    <div class="filters mt-1">
      <!-- <p class="filters__title">Filters</p> -->
      <div class="filters__menu">
        <div class="">
          <div class="btn-group" dropdown #doseDropDown="bs-dropdown" [autoClose]="true">
            <button  dropdownToggle type="button" class="app-btn dropdown-toggle">
              {{ dose }}<span class="caret"></span>
            </button>
            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-triggers-manual">
              <li role="menuitem"  *ngFor="let dose of DOSE | keyvalue;let i=index" (click)="changeDose(dose.value)">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" [id]="'dose'+i" name="doseRadio" [checked]="dose.value==DOSE.ANY" />
                    <label class="form-check-label" [for]="'dose'+i">{{
                      dose.value
                      }}</label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="">
          <div class="btn-group" dropdown #vaccineDropDown="bs-dropdown" [autoClose]="true">
            <button dropdownToggle type="button" class="app-btn dropdown-toggle">
              {{ vaccineType == VACCINES.ANY ? vaccineType + " Vaccines" : vaccineType
              }}<span class="caret"></span>
            </button>
            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-triggers-manual">
              <li role="menuitem"  *ngFor="let vaccine of VACCINES | keyvalue;let i=index"  (click)="vaccineTypeChange(vaccine.value)">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" [id]="'vaccine'+i" name="vaccine" value="covaxin"
                      [checked]="vaccine.value==VACCINES.ANY" />
                    <label class="form-check-label" [for]="'vaccine'+i">
                      {{ vaccine.value }}{{ vaccine.value==VACCINES.ANY?' Vaccine':''}}
                    </label>
                  </div>
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="">
          <div class="btn-group" dropdown #ageDropDown="bs-dropdown" [autoClose]="true">
            <button id="button-alignment" dropdownToggle type="button" aria-controls="dropdown-alignment" class="app-btn dropdown-toggle">
              {{ age != AGE.ANY ? age + "+" : age }}<span class="caret"></span>
            </button>
            <ul id="button-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
            role="menu" aria-labelledby="button-alignment" >

              <li role="menuitem" *ngFor="let age of AGE | keyvalue;let i=index" (click)="changeAge(age.value)">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" [id]="'age'+i" name="age" [checked]="age.value==AGE.ANY" />
                    <label class="form-check-label" [for]="'age'+i" name="age">{{ age.value }} {{age.value == AGE.ANY?'':'+'}} </label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="filters__search-bar">
        <div class="filters__search-bar__input-wrapper">
          <input class="filters__search-bar__input-wrapper__input" type="text" (ngModelChange)="this.hospitalUpdate.next($event)"
            placeholder="Search By Hospital/Center Name" [(ngModel)]="hospitalName" />
          <i class="fa fa-times filters__search-bar__input-wrapper__cross-icon" *ngIf="hospitalName.length > 0"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="slots-body" #slotsBody>
    <div class="no-centers" *ngIf="isCenterEmpty" [@enterAnimationRight]  [@.disabled]="!filterComplete">
      <div class="no-centers__content">
        <div class="no-centers__content__img">
          <img class="no-centers__content__img__image" src="../../../assets/img/no-data.svg" alt="" />
        </div>
        <div class="no-centers__content__text">No Centers Found</div>
      </div>
    </div>

    <div class="skeleton-loader" *ngIf="!showCentersList">
      <ngx-skeleton-loader count="7" animation="pulse" [theme]="{
      height: '110px',
      'background-color': '#d4d4d4'
    }"></ngx-skeleton-loader>
    </div>

    <div class="myCard" *ngIf="
        !isCenterEmpty && showCentersList && centersWithSession.length !== 0" [@enterAnimationRight] [@.disabled]="!filterComplete"
        infinite-scroll
        [infiniteScrollDistance]="infiniteScrollConfig.scrollDistance"
        [infiniteScrollUpDistance]="infiniteScrollConfig.scrollUpDistance"
        [infiniteScrollThrottle]="infiniteScrollConfig.throttle"
        (scrolled)="onScrollDown()"
        [scrollWindow]="false"
        #list
        >
        <!-- <cdk-virtual-scroll-viewport [itemSize]="150" class="scroll-viewport"> -->

      <div class="myCard__card-wrapper" *ngFor="let center of mainArray; let i = index"  >
        <div class="no-centers" *ngIf="center.name == 'noMatch'" [@enterAnimationRight]>
          <div class="no-centers__content">
            <div class="no-centers__content__img">
              <img class="no-centers__content__img__image" src="../../../assets/img/no-data.svg" alt="" />
            </div>
            <div class="no-centers__content__text">No Match Found</div>
          </div>
        </div>



        <div class="myCard__item" [class.lastCard]="centersWithSession.length - 1 == i" [class.firstCardEl]="i==0" *ngIf="center.name != 'noMatch'"
          [@enterAnimationRight] [@.disabled]="!filterComplete" >
          <div class="myCard__item__content">
            <label [for]="center._id" name="subscribe" class="myCard__item__content__myCard-head form-check-label d-flex" [class.checkedCenter]="center.subscribed == 'temp'
              ">

              <div class="myCard__item__content__myCard-head__text">
                {{ center.name }}
              </div>


              <div class="myCard__item__content__myCard-head__button"
                *ngIf="center.subscribed && center.subscribed !== 'temp'">
                <button class="app-btn btn-unsubscribe">
                  Subscribed
                </button>
              </div>

              <div class="form-check flex"  *ngIf="!center.subscribed ||  center.subscribed == 'temp'">
                  <input type="checkbox" class="form-check-input" (change)="changeSubscribe($event, center)"
                  [id]="center._id" [checked]="center.subscribed == 'temp'" name="subscribe" />
                  <span class="subscribe-check-label" >Select</span>
                </div>
            </label>

            <div class="myCard__item__content__myCard-body">
              <div class="myCard__item__content__myCard-body__address">
                <div class="myCard__item__content__myCard-body__address__icon">
                  <i class="ri-map-pin-user-line"></i>
                </div>
                <div class="myCard__item__content__myCard-body__address__text">
                  {{ center.address }}
                </div>
              </div>
              <hr />
              <div class="myCard__item__content__myCard-body__slots">
                <div class="myCard__item__content__myCard-body__slots__item" *ngFor="let session of center[this.activeDate]">
                  <div >
                    <div class="row">
                      <div class="col">
                        <span>Age: </span><span>
                          {{ session?.minAgeLimit || "-"
                          }}<span *ngIf="session?.minAgeLimit">+</span></span>


                      </div>
                      <div class="col">
                        <span>Dose1: </span><span [ngClass]="
                        session?.availableCapacityDose1 > 0
                              ? 'success'
                              : 'danger'
                          ">
                          {{
                            session?.availableCapacityDose1 || 0
                          }}
                          Slots
                        </span>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col ">
                        <span>Vaccine:</span>
                        <span class="warning vaccineType">
                          {{ session?.vaccine || "-" }} </span><br />
                      </div>
                      <div class="col">
                        <span>Dose2: </span><span [ngClass]="
                        session?.availableCapacityDose2 > 0
                              ? 'success'
                              : 'danger'
                          ">
                          {{
                            session?.availableCapacityDose2 || 0
                          }}
                          Slots </span><br />

                      </div>
                    </div>

                  </div>
                  <hr>
                </div>

                <div class="myCard__item__content__myCard-body__slots myCard__item__content__myCard-body__no-slots">
                  <div class="myCard__item__content__myCard-body__slots__item " *ngIf="center[this.activeDate].length==0">
                    No available Slots
              </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </cdk-virtual-scroll-viewport> -->

      <!-- <div class="no-slots" *ngIf="center.ssessions[0].length==0">No Slots</div> -->
    </div>
  </div>

  <div class="apply-changes row" [ngClass]="newTotalSubscribe ? 'apply-changes-show' : 'apply-changes-hide'">

    <button class="btn btn-danger"  (click)="removeAllSubscribe()">Unselect All</button>
    <button class="btn btn-success" (click)="applySubscribeChanges()">
      <i></i>Subscribe to {{ newTotalSubscribe }}
      {{ newTotalSubscribe === 1 ? "Center" : "Centers" }}
    </button>
  </div>
</div>
