<div class="slots-wrapper" #slots>
  <app-header-back headerText="Subscribe Centers" routeTo="/home"></app-header-back>
  <div class="slots-head header" #header>
    <div class="date-slider">
      <div class="slider">
        <div class="slider__item" *ngFor="let date of dateRange; let i = index" [class.slider__active]="i == activeDay">
          <button class="btn slider__item__btn" (click)="getSessionsForDay(i)">
            {{ date }}
          </button>
        </div>
      </div>
    </div>
    <div class="filters">
      <p class="filters__title">Filters</p>
      <div class="filters__menu">
        <div class="">
          <div class="btn-group" dropdown #doseDropDown="bs-dropdown" [autoClose]="true">
            <button dropdownToggle type="button" class="app-btn dropdown-toggle">
              {{ dose }}<span class="caret"></span>
            </button>
            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-triggers-manual">
              <li role="menuitem" (click)="changeDose(DOSE.ALL)">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="allDose" name="doseRadio" checked />
                    <label class="form-check-label" for="allDose">{{
                      DOSE.ALL
                      }}</label>
                  </div>
                </a>
              </li>
              <li role="menuitem" (click)="changeDose(DOSE.DOSE1)">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="dose1" name="doseRadio" />
                    <label class="form-check-label" for="dose1">{{
                      DOSE.DOSE1
                      }}</label>
                  </div>
                </a>
              </li>
              <li role="menuitem" (click)="changeDose(DOSE.DOSE2)">
                <a class="dropdown-item form-check">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="dose2" name="doseRadio" />
                    <label class="form-check-label" for="dose2">{{
                      DOSE.DOSE2
                      }}</label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="">
          <div class="btn-group" dropdown #vaccineDropDown="bs-dropdown" [autoClose]="true">
            <button dropdownToggle type="button" class="app-btn dropdown-toggle">
              {{ vaccineType == "All" ? vaccineType + " Vaccines" : vaccineType
              }}<span class="caret"></span>
            </button>
            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-triggers-manual">
              <li role="menuitem" (click)="vaccineTypeChange(VACCINES.ALL)">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="allVaccine" name="vaccine" value="covaxin"
                      checked />
                    <label class="form-check-label" for="allVaccine">
                      {{ VACCINES.ALL }} Vaccines
                    </label>
                  </div>
                </a>
              </li>
              <li role="menuitem" (click)="vaccineTypeChange(VACCINES.VACCINE1)">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="vaccine1" name="vaccine" value="true" />
                    <label class="form-check-label" for="vaccine1">
                      {{ VACCINES.VACCINE1 }}
                    </label>
                  </div>
                </a>
              </li>
              <li role="menuitem" (click)="vaccineTypeChange(VACCINES.VACCINE2)">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="vaccine2" name="vaccine" value="true" />
                    <label class="form-check-label" for="vaccine2">
                      {{ VACCINES.VACCINE2 }}
                    </label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="">
          <div class="btn-group" dropdown #ageDropDown="bs-dropdown" [autoClose]="true">
            <button dropdownToggle type="button" class="app-btn dropdown-toggle">
              {{ age != AGE.ALL ? age + "+" : age }}<span class="caret"></span>
            </button>
            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-triggers-manual">
              <li role="menuitem" (click)="changeAge(AGE.ALL)">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="allAge" name="age" checked />
                    <label class="form-check-label" for="allAge" name="age">{{
                      AGE.ALL
                      }}</label>
                  </div>
                </a>
              </li>
              <li role="menuitem" (click)="changeAge(AGE.AGE1)">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="age1" name="age" />
                    <label class="form-check-label" for="age1" name="age">{{ AGE.AGE1 }}+</label>
                  </div>
                </a>
              </li>
              <li role="menuitem" (click)="changeAge(AGE.AGE2)">
                <a class="dropdown-item form-check">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="age2" name="age" />
                    <label class="form-check-label" for="age2">{{ AGE.AGE2 }}+</label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="filters__search-bar">
        <div class="filters__search-bar__input-wrapper">
          <input class="filters__search-bar__input-wrapper__input" type="text" (input)="hospitalInput()"
            placeholder="Search By Hospital Name" [(ngModel)]="hospitalName" />
          <i class="fa fa-times filters__search-bar__input-wrapper__cross-icon" *ngIf="hospitalName.length > 0"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="slots-body" #slotsBody>
    <div class="no-centers" *ngIf="isCenterEmpty" [@enterAnimationRight]>
      <div class="no-centers__content">
        <div class="no-centers__content__img">
          <img class="no-centers__content__img__image" src="../../../assets/img/no-data.svg" alt="" />
        </div>
        <div class="no-centers__content__text">No Centers Found</div>
      </div>
    </div>

    <div class="skeleton-loader" *ngIf="!showCentersList">
      <ngx-skeleton-loader count="7" animation="pulse" [theme]="{
      height: '110px',
      'background-color': '#d4d4d4'
    }"></ngx-skeleton-loader>
    </div>

    <div class="myCard" *ngIf="
        !isCenterEmpty && showCentersList && centersWithSession.length !== 0
      " [@enterAnimationRight]>

      <div class="myCard__card-wrapper" *ngFor="let center of centersWithSessionFiltered; let i = index">
        <div class="no-centers" *ngIf="center.name == 'noMatch'" [@enterAnimationRight]>
          <div class="no-centers__content">
            <div class="no-centers__content__img">
              <img class="no-centers__content__img__image" src="../../../assets/img/no-data.svg" alt="" />
            </div>
            <div class="no-centers__content__text">No Match Found</div>
          </div>
        </div>



        <div class="myCard__item" [class.lastCard]="centersWithSession.length - 1 == i" *ngIf="center.name != 'noMatch'"
          [@enterAnimationRight]>
          <div class="myCard__item__content">
            <label [for]="center._id" name="subscribe" class="myCard__item__content__myCard-head form-check-label d-flex" [class.checkedCenter]="center.subscribed == 'temp'
              ">

              <div class="myCard__item__content__myCard-head__text">
                {{ center.name }}
              </div>


              <div class="myCard__item__content__myCard-head__button"
                *ngIf="center.subscribed && center.subscribed !== 'temp'">
                <button class="app-btn btn-unsubscribe">
                  Already Subscribed
                </button>
              </div>

              <div class="form-check"  *ngIf="!center.subscribed ||  center.subscribed == 'temp'">
                  <input type="checkbox" class="form-check-input" (change)="changeSubscribe($event, center)"
                  [id]="center._id" [checked]="center.subscribed == 'temp'" name="subscribe" />
                  <span class="subscribe-check-label" >Select</span>
                </div>
            </label>

            <div class="myCard__item__content__myCard-body">
              <div class="myCard__item__content__myCard-body__address">
                <div class="myCard__item__content__myCard-body__address__icon">
                  <i class="ri-map-pin-user-line"></i>
                </div>
                <div class="myCard__item__content__myCard-body__address__text">
                  {{ center.address }}
                </div>
              </div>
              <hr />
              <div class="myCard__item__content__myCard-body__slots">
                <div class="myCard__item__content__myCard-body__slots__item" *ngFor="let session of center[this.activeDate]">
                  <div>
                    <div class="row">
                      <div class="col">
                        <span>Dose1: </span><span [ngClass]="
                        session?.availableCapacityDose1 > 0
                              ? 'success'
                              : 'danger'
                          ">
                          {{
                            session?.availableCapacityDose1 || 0
                          }}
                          Slots
                        </span>
                      </div>
                      <div class="col">
                        <span>Vaccine:</span>
                        <span class="warning">
                          {{ session?.vaccine || "-" }} </span><br />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col ">
                        <span>Dose2: </span><span [ngClass]="
                        session?.availableCapacityDose2 > 0
                              ? 'success'
                              : 'danger'
                          ">
                          {{
                            session?.availableCapacityDose2 || 0
                          }}
                          Slots </span><br />
                      </div>
                      <div class="col">
                        <span>Age: </span><span>
                          {{ session?.minAgeLimit || "-"
                          }}<span *ngIf="session?.minAgeLimit">+</span></span>
                      </div>
                    </div>

                  </div>
                  <hr>
                </div>

                <div class="myCard__item__content__myCard-body__slots myCard__item__content__myCard-body__no-slots">
                  <div class="myCard__item__content__myCard-body__slots__item " *ngIf="center[this.activeDate].length==0">
                    No available Slots
              </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="no-slots" *ngIf="center.ssessions[0].length==0">No Slots</div> -->
    </div>
  </div>

  <div class="apply-changes row" [ngClass]="newTotalSubscribe ? 'apply-changes-show' : 'apply-changes-hide'">

    <button class="btn btn-danger" (click)="removeAllSubscribe()">Unselect All</button>
    <button class="btn btn-success" (click)="applySubscribeChanges()">
      <i></i>Subscribe to {{ newTotalSubscribe }}
      {{ newTotalSubscribe === 1 ? "Center" : "Centers" }}
    </button>
  </div>
</div>
