.slider {
  &__active {
    .btn {
      background-color: var(--app-color-primary);
      color: white !important;
    }
  }
  // border:solid red;
  display: flex;
  overflow: auto;
  width: 100%;
  padding: 0px; // 10px;
  align-items: center;
  justify-content: space-between;
  &__item {
    margin: 10px;
    &__btn {
      width: 80px !important;
      border-radius: 10px;
      background-color: rgb(155, 155, 155);
    }
  }
}

.slots-head{
  .filters{
    // border:solid red;
    &__title{
      // border:solid yellow;
      margin:0;
      padding:5px;
      padding-left:25px;
      font-weight:bold;
    }
    .app-btn{
      background-color: var(--app-color-primary);
      border:none !important
    }
    ul{
      padding:0;
      li{
        padding:0;
        margin:0;
      }
    }
    .row{
      // border:solid green ;
      margin:0;
      .col{
        // border:solid blue;
        text-align: center;
      }
    }
    &__search-bar{
      padding:0px 20px 0px 20px;
      margin-top:10px;
      margin-bottom:5px;
      // border:solid green;
      .input-wrapper{
        position: relative;
        // border:solid green;
        input{
          width:100%;
          padding:7px;
          border:solid 1px #7aafec;
          border-radius: 5px;
          outline: none;
          transition: cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.2s;

        }
        input:focus{

          border:solid 2px rgb(0, 119, 255);
        }
        .cross-icon{
          position: absolute;
          right:15px;
          top:16px;
          color: #3d90ef;
        }
      }
    }


  .app-btn{
    width: auto!important;
  }
  }

}
.slots-body {
  // border:solid red;
  padding-bottom: 200px;

}
.myCard {
  height: 100vh;
  overflow-y: scroll ;
  overflow-x: hidden;
  // border:solid green;
  width: 100%;
  box-shadow: none !important;
  align-items: center;
  &__item {
    margin: 0 auto;
    min-width: 360px;
    max-width: 360px;
    // border:solid red;
    margin-top: 15px;
    border-radius: 5px;
    min-height: 70px;
    display: flex;

    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    &__content {
      width: 100%;
      &__myCard-head {
        border-radius: 5px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .app-btn {
          width: auto !important;
          // border: solid gray 1px;
        }
        &__text {
          font-size: 1rem;
          color: white;
          font-weight: bold;
        }
        background-color: black; //rgb(92, 174, 250); ;
        .btn-subscribe {
          // border: solid green 1px;
        }
        .btn-unsubscribe {
          // border: solid red 1px;
        }
      }
      &__myCard-body {
        padding: 7px;

        &__address {
          display: flex;
          // border:solid red;
          align-items: center;
          justify-content: flex-start;
          &__icon {
            font-size: 1.3rem;
            margin-right: 6px;
          }
          &__text {
            font-size: 1rem;
          }
        }
        &__slots {
          font-weight: bold;
        }
        hr{
          // border:solid pink 1px;
          margin:4px;
        }
      }
    }
  }
  .no-slots {
    padding: 10px;
    width: 100%;
    margin-top: 100px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

}

.no-centers{
  width:100%;
  height:50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content{
  &__img{
    width:100%;
    max-width:300px;
    &__image{
      width:100%;
      height:100%;
    }
  }
  &__text{
    text-align: center;
    font-weight:bold;
    font-size:1.3rem;
  }
}
}

.success{
  color:var(--app-color-success)!important;
}
.danger{
  color:var(--app-color-danger)!important
}
.warning{
  color:rgb(228, 199, 39);
}


//header animation



.header {
  transition: transform 0.4s;
}

.header-show {
  // transform: translate3d(0, -100%, 0);
  margin-top:-100px;
}

.header-hide {
  margin-top:0;
  transform: none;
}


