<div class="slots-wrapper">
  <div class="slots-head header" #header>

    <app-header-back headerText="Subscribe Centers" routeTo="/auth-home"></app-header-back>
    <div class="date-slider">
      <div class="slider">
        <div class="slider__item" *ngFor="let date of dateRange; let i = index" [class.slider__active]="i == activeDay">
          <button class="btn slider__item__btn" (click)="getSessionsForDay(i)">
            {{ date }}
          </button>
        </div>
      </div>
    </div>
    <div class="filters">
      <p class="filters__title">Filters</p>
      <div class="row filters__menu">
        <div class="col">
          <div class="btn-group" dropdown #doseDropDown="bs-dropdown" [autoClose]="true">
            <button dropdownToggle type="button" class="app-btn dropdown-toggle">
              {{ dose }}<span class="caret"></span>
            </button>
            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-triggers-manual">
              <li role="menuitem" (click)="changeDose('Dose 1')" >
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="dose1" name="dose" />
                    <label class="form-check-label" for="dose1" name="dose">Dose 1</label>
                  </div>
                </a>
              </li>
              <li role="menuitem" (click)="changeDose('Dose 2')">
                <a class="dropdown-item form-check">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="dose2" name="dose" />
                    <label class="form-check-label" for="dose2" >Dose 2</label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col">
          <div class="btn-group" dropdown #vaccineDropDown="bs-dropdown" [autoClose]="true">
            <button dropdownToggle type="button" class="app-btn dropdown-toggle">
              {{ vaccineType }}<span class="caret"></span>
            </button>
            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-triggers-manual">
              <li role="menuitem">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check1" (click)="vaccineDropDown.hide()"
                      name="vaccineType" value="covaxin" [(ngModel)]="vaccines.COVAXIN.checked"
                      (change)="vaccineTypeChange()" checked />
                    <label class="form-check-label" for="check1">
                      COVAXIN
                    </label>
                  </div>
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check2" (click)="vaccineDropDown.hide()"
                      name="vaccineType" value="covieshield" [(ngModel)]="vaccines.COVIESHIELD.checked"
                      (change)="vaccineTypeChange()" checked />
                    <label class="form-check-label" for="check2">
                      COVIESHIELD
                    </label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="btn-group" dropdown #ageDropDown="bs-dropdown" [autoClose]="true">
            <button dropdownToggle type="button" class="app-btn dropdown-toggle">
              {{ age }}<span class="caret"></span>
            </button>
            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-triggers-manual">
              <li role="menuitem" (click)="changeAge('18+')" >
                <a class="dropdown-item">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="age1" name="age" />
                    <label class="form-check-label" for="age1" name="age">18+</label>
                  </div>
                </a>
              </li>
              <li role="menuitem" (click)="changeAge('45+')">
                <a class="dropdown-item form-check">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="age2" name="age" />
                    <label class="form-check-label" for="age2" >45+</label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="filters__search-bar">
        <div class="input-wrapper">
          <input type="text" placeholder="Search By Hospital Name" [(ngModel)]="hospitalName" />
          <i class="fa fa-times cross-icon" *ngIf="hospitalName.length>0"></i>
        </div>
      </div>
    </div>

  </div>






  <div class="slots-body" >

    <div class="myCard" *ngIf="!isCenterEmpty"  >
      <div *ngFor="let center of centersWithSession">
        <div class="myCard__item">
          <div class="myCard__item__content">
            <div class="myCard__item__content__myCard-head">
              <div class="myCard__item__content__myCard-head__text">
                {{ center.name }}
              </div>

              <div class="myCard__item__content__myCard-head__button" *ngIf="center.subscribed">
                <button class="app-btn btn-unsubscribe" (click)="UnSubscribeCenter(center)">
                  Unsubscribe
                </button>
              </div>
              <div class="myCard__item__content__myCard-head__button" *ngIf="!center.subscribed">
                <button class="app-btn btn-subscribe" (click)="subscribeCenter(center)">
                  Subscribe
                </button>
              </div>
            </div>
            <div class="myCard__item__content__myCard-body">
              <div class="myCard__item__content__myCard-body__address">
                <div class="myCard__item__content__myCard-body__address__icon">
                  <i class="ri-map-pin-user-line"></i>
                </div>
                <div class="myCard__item__content__myCard-body__address__text">
                  {{ center.address }}
                </div>
              </div>
              <hr />
              <div class="myCard__item__content__myCard-body__slots">
                <div class="myCard__item__content__myCard-body__slots__item">
                  <div>
                    <div class="row align-items-stretch">
                      <div class="col">
                        <span>Dose1: </span><span [ngClass]="center[this.activeDate]?.availableCapacityDose1>0?'success':'danger'"> {{ center[this.activeDate]?.availableCapacityDose1||0}} Slots </span>

                      </div>
                      <div class="col">
                        <span>Vaccine:</span> <span class="warning">  {{ center[this.activeDate]?.vaccine || '-'}} </span><br>

                      </div>
                    </div>
                     <div class="row">
                      <div class="col">
                        <span>Dose2: </span><span [ngClass]="center[this.activeDate]?.availableCapacityDose1>0?'success':'danger'"> {{ center[this.activeDate]?.availableCapacityDose2||0}} Slots  </span><br>

                      </div>
                      <div class="col">
                        <span>Age: </span><span>  {{ center[this.activeDate]?.minAgeLimit||'-'}}<span *ngIf="center[this.activeDate]?.minAgeLimit">+</span></span>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="no-slots" *ngIf="center.ssessions[0].length==0">No Slots</div> -->


      <div class="no-centers" *ngIf="isCenterEmpty">
        <div class="no-centers__content">
          <div class="no-centers__content__img">
            <img class="no-centers__content__img__image" src="../../../assets/img/no-data.png" alt="" />
          </div>
          <div class="no-centers__content__text">No Centers Found</div>
        </div>
      </div>

    </div>
  </div>

</div>
