<div class="how-to">
  <div class="how-to__content">

      <div class="how-to__head">
        <div class="how-to__head__title">
          <p class="how-to__head__title--text"><i class="ri-information-line how-to__head__title--icon"></i>How To Subscribe</p>
        </div>
      </div>

      <div class="how-to__body">
        <div class="how-to__body__image">
          <img src="./../assets/img/help.svg" class="how-to__body__image--image" alt="">
        </div>
        <div class="how-to__body__steps">
          <div class="how-to__body__steps__step">
              <p class="how-to__body__steps__step--title">Step 1:</p>
              <p class="how-to__body__steps__step--text">Enter your Pincode or Select Your State and district </p>
          </div>
          <div class="how-to__body__steps__step">
            <p class="how-to__body__steps__step--title">Step 2:</p>
            <p class="how-to__body__steps__step--text">Enter Your WhatsApp Phone Number & Click <b>NEXT</b> </p>
        </div>
        <div class="how-to__body__steps__step">
          <p class="how-to__body__steps__step--title">Step 3:</p>
          <p class="how-to__body__steps__step--text">Select all the centers  from which you want to get alerts & click <b>Subscribe</b> </p>
      </div>

        </div>
      </div>

  </div>
</div>
