/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&display=swap");
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "remixicon/fonts/remixicon.css";
@import "~intl-tel-input/build/css/intlTelInput.css";
@import "theme/theme.scss";


body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth
}
html{
  scroll-behavior: smooth;
}
////////////////////////////////////////////////////// css for ng-select////////////////////////////////////////////////////////////
.ng-select .ng-select-container {
  border: none !important;
  box-shadow: none !important;
}

.ng-select .ng-select-container .ng-value,
.ng-option {
  background-color: rgb(248, 248, 248) !important;
  color: black !important;
}

.ng-select.center-selector .ng-select-container .ng-value,
.ng-option-selected {
  background-color: rgb(164, 193, 255) !important;
  // color: var(--white) !important;
}

.ng-dropdown-panel {
  animation: animateGrow 200ms ease-in-out forwards;
  transform-origin: top center;
  margin-top: 5px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

@keyframes animateGrow {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}



.selector{
  border-bottom: 2px solid rgb(83, 82, 82);
  margin: auto;
  margin-top:30px;
 }



 .app-btn{
  width:150px;
  padding:7px;
  background: var(--btn-bg-color);
  color:white;
  border-radius:4px;
  text-transform: uppercase;
  font-weight: bold;
}

.disabled-btn{
background-color: var(--app-color-dark-tint) !important;
}

.app-input{
  color: black ;
  border: none ;
  background: none ;
  border-bottom: 2px solid rgb(83, 82, 82) ;
  outline: none ;
  transition: 0.3s ease all ;
  margin: auto ;
  border-radius: 0 ;
  padding:10px !important;
  font-weight: 300;
}


.app-input:focus{
  box-shadow: none !important;
  border-bottom: 2px solid rgb(29, 122, 209);
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgb(209, 209, 209);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 158, 158);
}
