<main class="wizard">

  <!-- Tabs -->
  <div class="wizard__tabs p-3">
    <div class="wizard__tab d-flex justify-content-around">
      <button type="button" (click)="changeTab(WizardTabs.PIN)" class="wizard__tab-button"
        [class.wizard__tab-active]="WizardTabs.PIN === activeTab">{{ WizardTabs.PIN }}</button>
      <button type="button" (click)="changeTab(WizardTabs.DISTRICT)" class="wizard__tab-button"
        [class.wizard__tab-active]="WizardTabs.DISTRICT === activeTab">{{ WizardTabs.DISTRICT }}</button>
    </div>
  </div>

  <!-- Centers selectors -->

  <div class="wizard__centers-picker">
    <app-centers-by-district-selector *ngIf="activeTab === WizardTabs.DISTRICT"></app-centers-by-district-selector>
    <app-centers-by-pin-selector (centersSelected)="centersSelected($event)" *ngIf="activeTab === WizardTabs.PIN">
    </app-centers-by-pin-selector>
  </div>


</main>
