<main class="wizard">
  <div class="wizard__tabs">
    <div class="wizard__tab d-flex justify-content-around">
      <button type="button" (click)="changeTab(WizardTabs.PIN)" class="wizard__tab-button"
        [class.wizard__tab-active]="WizardTabs.PIN === activeTab">{{ WizardTabs.PIN }}</button>
      <button type="button" (click)="changeTab(WizardTabs.DISTRICT)" class="wizard__tab-button"
        [class.wizard__tab-active]="WizardTabs.DISTRICT === activeTab">{{ WizardTabs.DISTRICT }}</button>
    </div>
  </div>
</main>
